.menu_btn_icon {
  .menu_icon {
    font-size: 40px !important;
    color: #e94560;
  }
}
.side_bar_links {
}
.side_bar_search {
  width: 100%;
  .side_bar_search_box {
    border: 2px solid #b4b4b4;
    padding: 6px;
    width: 95%;
  }
}
