.order-table {
  margin: 20px 0px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  h2 {
    color: #6c6c6c;
  }
  .tableBtn {
    background-color: #e94560;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}
