.img-1 {
  width: 30%;
  height: 340px;
}
.img-2 {
  width: 68%;
  height: 340px;
}
@media screen and (max-width: 700px) {
	.img-1 {
		width: 45%;
	}
	.img-2 {
		width: 55%;
	}
}
@media screen and (max-width: 550px) {
  .annocument .img {
    width: 100%;
  }
	.img-2 {
		margin-top: 20px;
	}
}
